h1{
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
color: black;
text-align: right;
background-image: url("fundo.jpg");


}

p{

font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 30px;
color: black;
background-image: url("mosaic.jpg");
text-align: center;

}
p2
{

font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 18px;
text-align: left;
color: yellow;

}

p3
{

font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 18px;
text-align: right;
color: yellow;

}


div{

background-image: url("tela.jpg");
text-align: left;


}

#Div2
{

	text-align: center;
}

#Div3
{

	text-align: left;
}

#Div4
{

	text-align: right;
}

#Div6
{

	text-align: center;
	color: white;
	font-size: 30px;
}



